@keyframes moveBackground {
  0% {
    background-position-y: 100%;
  }
  100% {
    background-position-y: 0;
  }
}

@keyframes shotAnimation {
  0% {
    transform: translate3d(-50%, -100%, 0);
  }
  100% {
    transform: translate3d(-50%, -105vh, 0);
  }
}

@keyframes chargeSpecialShotAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
    filter: drop-shadow(0 0 4px var(--color-light-400));
  }

  50% {
    transform: scale(1.2);
    opacity: 0.8;
    filter: drop-shadow(0 0 8px var(--color-light-200));
  }

  100% {
    transform: scale(1);
    opacity: 1;
    filter: drop-shadow(0 0 4px var(--color-light-400));
  }
}
