@import url(reset.css);

.spaceContainer {
  position: relative;
  height: 100%;
  width: 100%;

  &:hover {
    cursor: none;
  }

  header {
    padding: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div,
    span {
      font-weight: 400;
      text-shadow: 1px 1px 2px var(--color-dark-400);
    }
  }

  & .spaceship {
    background: url(../images/spaceship1.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    bottom: calc(0% + 45px);
    left: calc(50% - 45px);
    width: 9rem;
    height: 9rem;
  }
}

.shot {
  position: absolute;
  z-index: 1;
  background: var(--color-secondary-400);
  box-shadow: 0 0 10px 2px var(--color-secondary-400);
  width: 0.5rem;
  height: 2rem;
  margin: 0 auto;
  border-radius: 10%;
  transform: translateX(-50%);
  animation: shotAnimation 500ms linear;
  animation-fill-mode: forwards;
}

.specialShot {
  position: absolute;
  z-index: 1;
  background: var(--color-primary-500);
  box-shadow: 0 0 10px 2px var(--color-light-200);
  width: 1rem;
  height: 4rem;
  margin: 0 auto;
  border-radius: 10%;
  transform: translateX(-50%);
}

.enemies {
  img {
    width: 9rem;
    height: 9rem;
    animation: enemySpaceshipAnimation1 2s linear infinite;
  }
}
