.spaceContainer {
  position: relative;
  background: url(../images/space.png);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  animation: moveBackground 240s linear infinite;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.gamePage {
  display: none;

  header {
    padding: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1,
    span {
      font-weight: 400;
      text-shadow: 1px 1px 2px var(--color-dark-400);
    }
  }

  .spaceship {
    background: url(../images/spaceship1.gif);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 9rem;
    height: 9rem;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
